<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="bundle.css" rel="stylesheet" type="text/css">
  <script src="bundle.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <title>Home</title>
</head>

<body>
  <nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="#">
        <!-- <i class="fa fa-hand-paper-o fa-4"></i> HAND -->
        <img src="img/hand_logo_rectangle.svg" alt="HAND logo"  height="65px" width="auto" >
      </a>
    </div>
    <!-- navbar-header-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>
    <!-- bs-example-navbar-collapse-1 -->
  </nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="active">
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-user fa-stack-1x "></i>
            </span> Jane Smith</a>
          <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li>
              <a href="#">My profile</a>
            </li>
            <li>
              <a href="#">My posts</a>
            </li>
            <li>
              <a href="#">My offers</a>
            </li>
            <li>
                <a href="#">Messages</a>
              </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-home fa-stack-1x "></i>
            </span>Home</a>
          <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li>
              <a href="#">
                <span class="fa-stack fa-lg pull-left">
                  <i class="fa fa-heartbeat fa-stack-1x "></i>
                </span>Posts</a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg pull-left">
                  <i class="fa fa-users fa-stack-1x "></i>
                </span>Users</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-newspaper-o fa-stack-1x "></i>
            </span>News</a>
        </li>
        <!-- <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-cart-plus fa-stack-1x "></i>
            </span>Events</a>
        </li> -->
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-info fa-stack-1x "></i>
            </span>About</a>
        </li>
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-gavel fa-stack-1x "></i>
            </span>Policy</a>
        </li>
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-paper-plane-o fa-stack-1x "></i>
            </span>Contact</a>
        </li>
        <li>
          <a href="#">
            <span class="fa-stack fa-lg pull-left">
              <i class="fa fa-sign-out fa-stack-1x "></i>
            </span>Sign out</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid xyz">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumbs">Home > Some route > ... > <strong>This page</strong></div>
            <h1>Main content goes here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laudantium nobis cum dignissimos ex inventore,
              velit blanditiis. Quod laborum soluta quidem culpa officia eligendi, quam, recusandae iste aliquid amet odit!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

    <div id="footer-wrapper" class="footer">
          <span>Hey, I'm footer. I'll be here for a while. I'm not perfect, I know :-)</span>
    </div>
  </div>
  <!-- /#wrapper -->
  


  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    $("#menu-toggle-2").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled-2");
      $('#menu ul').hide();
    });

    function initMenu() {
      $('#menu ul').hide();
      $('#menu ul').children('.current').parent().show();
      //$('#menu ul:first').show();
      $('#menu li a').click(
        function () {
          var checkElement = $(this).next();
          if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
            return false;
          }
          if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
            $('#menu ul:visible').slideUp('normal');
            checkElement.slideDown('normal');
            return false;
          }
        }
      );
    }
    $(document).ready(function () {
      initMenu();
    });
  </script>
</body>

</html>