<!-- USER REGISTARTION (SIGN UP) PAGE -->
<!DOCTYPE html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <link href="bundle.css" rel="stylesheet" type="text/css">
  <script src="bundle.js"></script>
  <title>User Registration</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="center-block col-xs-12" id="hand-brand">
        <img src="img/hand-logo.png" alt="hand-logo" id="hand-logo" class="img-responsive center-block">
        <h1 class="sign-intro">Register in Project
          <br> Help After Natural Disasters</h1>
      </div>
      <div class="col-xs-12">
        <!-- USER REGISTRATION FORM -->
        <form class="auth" name="sign_up" action="/signup" method="post" autocomplete="off">

          <!-- User email -->
          <div class="row control-group">
            <div class="input-group col-xs-12 col-sm-4 col-sm-offset-4">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control" name="email" id="email" placeholder="email">
              <span class="help-block text-danger"></span>
            </div>
          </div>

          <!-- User password -->
          <div class="row control-group">
            <div class="input-group col-xs-12 col-sm-4 col-sm-offset-4">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input type="text" class="form-control" name="password" maxlength="12" id="password" placeholder="password">
              <span class="help-block text-danger"></span>
            </div>
          </div>

          <!-- User password confirmation -->
          <div class="row control-group">
            <div class="input-group col-xs-12 col-sm-4 col-sm-offset-4">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input type="text" class="form-control" name="password_confirm" maxlength="12" id="password-confirm" placeholder="confirm password">
              <span class="help-block text-danger"></span>
            </div>
          </div>

          <!-- Register button -->
          <div class="row">
            <div class="form-group col-xs-12">
              <button class="btn btn-lg btn-primary center-block btn-auth" type="submit" id="register">Register</button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="help-question">Already have an account?</p>
            </div>
          </div>

          <!-- Login button -->
          <div class="row">
            <div class="form-group col-xs-12">
              <a href="/signin" class="btn btn-lg btn-default center-block btn-auth">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>