:global(.navbar) {
  height: 100px;
}


:global(.navbar-brand) {
  height: 95px;
}


:global(.navbar) :global(.container){
  margin-left: 0px;
}


:global(.navbar-toggle) {
  margin-top: 20px;
  margin-left: 10px;
}


@media (min-width: 768px) {
  :global(.fixed-brand) {
    width: 250px;
  }
}

:global(.fixed-brand) {
  width: auto;
}
