/* SIGN UP PAGE STYLE */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img#hand-logo {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

div#hand-brand {
  // background-color: aqua;
  margin: 0 auto;
}

h1.sign-intro {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  color: #9B9B9B;
}

form#sign-up {
  margin: 20px 0;
}


.btn-auth {
  width: 450px;
  margin: 10px 0;
}

a.help-question,
p.help-question {
  display: block;
  text-align: center;
}

.control-group {
  margin: 30px 0;
}


.center-block {
  margin-right: auto !important;
  margin-left: auto !important;
}

