body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


object#logo {
  width: 200px;
  height: auto;
  background-color: pink;
  margin: 10px;
}

div#hand-brand {
  background-color: aqua;
}