footer {
  height: 65px;
  background-color: #21539D;
  color: white;
  vertical-align: middle;
}


.nav-welcome {
  background-color: #21539D;
  border-color: #21539D;
}

.nav-welcome .navbar-text {
  color: white;
}


.nav-welcome .navbar-nav>li>a {
  color: white;
}

div.collapse-welcome.collapse {
  /* background-color: aqua; */
  margin-top: 20px;
}

div.header-welcome {
  min-height: 80px;
}

button.toggle-welcome {
  margin-top: 30px;
}

.signin {
  margin-top: 5px;
  height: 40px;
  background-color: transparent;
}

li.signin > a {
  padding: 5px 15px;;
}

