footer {
  height: 65px;
  background-color: #21539D;
  color: white;
  vertical-align: middle;
}


.navbar-default {
  background-color: #21539D;
  border-color: #21539D;
}

.navbar-default .navbar-text {
  color: white;
}


.navbar-default .navbar-nav>li>a {
  color: white;
}

div.navbar-collapse.collapse {
  /* background-color: aqua; */
  margin-top: 20px;
}

div.navbar-header {
  min-height: 80px;
}

button.navbar-toggle {
  margin-top: 30px;
}

.signin {
  margin-top: 5px;
  height: 40px;
  background-color: transparent;
}

li.signin > a {
  padding: 5px 15px;;
}

