.hand_logo {
  width: 300px;
  height: auto;
  margin: 0 auto;
}


form.auth {
  margin: 20px 0;
}


.sign_intro {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  color: #9B9B9B;
}


.btn_auth {
  width: 350px;
  margin: 10px 0;
}


.help_question {
  display: block;
  text-align: center;
}


.center_block {
  margin-right: auto;
  margin-left: auto;
}
