.nav-pills > li > a {
  border-radius: 0;
}


#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}


#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}




#wrapper.toggled {
  width: 250px;
}


#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 600px;
  overflow-x: hidden;
}


.xyz {
  min-width: 360px;
}


#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}


#footer-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}


#wrapper.toggled #footer-wrapper {
  position: relative;
  margin-right: 0px;
}


.no-margin {
  margin: 0;
}


@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand {
    width: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }
  
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #footer-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper {
    /*
    &.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
    }
    &.toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;
    }
    &.toggled #pfooter-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
    }
    &.toggled-2 #footer-wrapper {
      position: relative;
      bottom: 0;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;
    }
    */
  }
}


.navbar {
  min-height: 100px;
}


button#menu-toggle,
button#menu-toggle-2 {
  margin-top: 20px;
  margin-left: 10px;
}

div.breadcrumbs {
  font-size: 0.8em;
}


.footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* line-height: 30px; */
  background-color: aqua;
  overflow: hidden;
}
