.nav-pills > li > a {
  border-radius: 0;
}


:global(#wrapper) {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}


:global(#wrapper.toggled) {
  padding-left: 250px;
  overflow: hidden;
}




:global(#wrapper.toggled) {
  width: 250px;
}


:global(#page-content-wrapper) {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 700px;
  overflow-x: hidden;
}


:global(.xyz) {  
  min-width: 360px;
}


:global(#wrapper.toggled) :global(#page-content-wrapper) {
  position: relative;
  margin-right: 0px;
}


:global(#footer-wrapper) {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}


:global(#wrapper.toggled) :global(#footer-wrapper) {
  position: relative;
  margin-right: 0px;
}


:global(.no-margin) {
  margin: 0;
}


@media (min-width: 768px) {
  :global(#wrapper) {
    padding-left: 250px;
  }
  :global(.fixed-brand) {
    width: 250px;
  }

  :global(#wrapper.toggled) {
    padding-left: 0;
  }
  
  :global(#page-content-wrapper) {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: hidden;
  }

  :global(#footer-wrapper) {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}


button#menu-toggle,
button#menu-toggle-2 {
  margin-top: 20px;
  margin-left: 10px;
}

:global(.breadcrumbs) {
  font-size: 0.8em;
}


:global(.footer) {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* line-height: 30px; */
  background-color: aqua;
  overflow: hidden;
}
