footer {
  height: 65px;
  background-color: #21539D;
  color: white;
  vertical-align: middle;
}


.nav-welcome {
  min-height: 130px !important;
  background-color: #21539D;
  border-color: #21539D;
}


.nav-welcome .navbar-nav>li>a {
  height: 40px;
  margin: 5px 10px 5px 10px;
  color: aqua;
  border-radius: 5px;
}


.collapse-welcome {
  background-color: #21539D;
}

@media only screen and (min-width: 1000px) {
  .collapse-welcome > ul {
    margin-top: 30px;
  }
}



.header-welcome > .navbar-brand > P {
  color: white;
}

button.toggle-welcome {
  margin-top: 30px;
}

.signup,
.signin {
  margin: 5px 5px 0 5px;
  height: 40px;
  background-color: transparent;
}

li.signup > a,
li.signin > a {
  padding: 5px 15px;;
}

